extends layout.pug

block layout-content

    head
    title FT Headline Finder

    h1(style='color:blue;') Search for headlines down below!
    p Try searching for anything you like
    form
    input(type='text' name='search' placeholder='Enter specific word(s) here')
