extends layout.pug

block layout-content

    head
    title FT Headline Finder

    h1(style='color:blue;') Search for headlines down below!
    p Try searching for anything you like

    form(action='/search/' method='post')
    label(for='headline_search_box') Search headline: 
    input#headline_search_box(type='text' name='queryString' value='Enter headline here')
    input(type='submit' value='OK')
