extends layout.pug

block layout-content

    head
    title FT Headline Finder

    h1 Search for headlines down below!
    p Try searching for anything you like

    form(action='/search' method='post')
        label(for='headline_search_box') Enter headline here: 
        input#headline_search_box(type='text' name='queryString' placeholder='Enter headline here')
        input(type='submit' value='OK')
