extends layout.pug

block layout-content

    head
    title Articles
    
    h1 Here are your articles
    table 
        each article, index in articlesArray
            tr#article_title
                td #{article["title"]["title"]}
            tr#article_link
                td 
                    - var url = article["location"]["uri"]
                    a(href=url) Link
            