extends layout.pug

block layout-content

    head
    title Articles

    h1(style='color:blue;') Here are your articles
    table 
        each article, index in articlesArray
            tr#article_title
                td #{article["title"]["title"]}
            



    //- form(action='/search/process' method='post')
    //- input.form-control.web-search-box(type='text' placeholder='search' name='keyword' value='')
    //- #search.search.col-sm-1
    //- img(src='../../page_imgs/fixed_img/icon_search.png')
    //- input(type='submit' value='send')
