extends layout.pug

block layout-content

    head
    title FT Headline Finder

    h1(style='color:blue;') Search for headlines down below!
    p Try searching for anything you like

    form(action='/search' method='post')
        label(for='headline_search_box') Search headline: 
        input#headline_search_box(type='text' name='queryString' value='Enter headline here')
        input(type='submit' value='OK')

    //- form(action='/search/process' method='post')
    //- input.form-control.web-search-box(type='text' placeholder='search' name='keyword' value='')
    //- #search.search.col-sm-1
    //- img(src='../../page_imgs/fixed_img/icon_search.png')
    //- input(type='submit' value='send')
